<script>
        var ctx = document.getElementById("chart");
        var chart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: [{% for result in results %} "{{result.text}}", {% endfor %}],
                datasets: [{
                    label: "Votes",
                    data: [{% for result in results %} "{{result.votes}}", {% endfor %}],
                    backgroundColor: "rgba(54, 162, 235, 0.2)",
                    borderColor: "rgb(54, 162, 235)",
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    xAxes: [{ticks:{beginAtZero:true, min:0, stepSize:1}}]
                }
            }
        });
</script>